
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,800;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.footer {
  background: linear-gradient(to top, #f99f1c, #f9a01cd0);
  background-repeat: no-repeat;
  background-position: top right;
}

@media (min-width: 768px) {
  .footer {
    background-image: url(./assets/footer.png), linear-gradient(to top, #f99f1c, #f9a01cd0);;
  }
}


.sofia{
  font-family: 'Sofia Sans', sans-serif;
}